{% load static %}


<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'timeline/main.css' %}">

    {% if title %}
        <title>Timeline: {{ title }}</title>
    {% else%}
        <title>TimeStream</title>
    {% endif %}
</head>





<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar w/ text</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">TimeStream <span class="sr-only">(current)</span></a>
        </li>
        </ul>
        <span class="navbar-text">
        <a href="{% url 'new-Timeline' %}">Create new!</a>
        </span>
    </div>
</nav>

<!-- Source: https://bootsnipp.com/snippets/45ngx -->
<!-- Sidebar -->
<div class="container-fluid">
<div class="row">
<div class="col-md-2 col-sm-4 sidebar1">
    <div class="logo img-fluid">
        <img src="https://i.redd.it/71v6dzamepg11.jpg" class="img-responsive center-block" alt="Logo" width="150">
    </div>
        <br>
    <div class="right-navigation">
        <ul class="list">
            <h3><strong>Username</strong></h3>
            <li><a href="{% url 'index' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
            <li><a href="#">View timelines</a></li>
        </ul>

        <br>

        <ul class="list">
            <h5><strong></strong></h5>
            <!-- Todo: Fix this so it isn't a static url -->
            <li><a href="#">About us</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>
    <div class="col-md-10 col-sm-8 main-content">
    <!--Main content code to be written here --> 
    <main role="main" class="container">
        <div class="container">
                <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
</div>
</div>
</body>
</html>