<!-- https://codepen.io/tutsplus/pen/ZKpNwm -->

{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'timeline/timeline.css' %}">
<link rel="stylesheet" type="javascript" href="{% static 'timeline/timeline.js' %}">


<!-- https://codepen.io/savalazic/pen/QKwERN -->
<header>
    <div class="container text-center">
        <h1>{% timeline.title %}</h1>
        <!-- Subtitle -->
        <p></p>
    </div>
</header>

<section class="timeline">
    <div class="container">
        <div class="timeline-item">
            <div class="timeline-img"><img src="{% event.image %}"></div>
            <div class="timeline-content js--fadeInLeft">
                <h2>{% event.title %}</h2>
                <div class="date">{% event.date|date:"F d, Y" %}</div>
                <p>{% event.description %}</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div> 
    </div>
</section>
